<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza list</title>
</head>
<body>


<h3>Time Zone:{{time_zone}}</h3>
<h4>-----------------------</h4>
{% for pizza in pizzas %}
<p><b>pizza name:</b> {{pizza.pizza_name}}</p>
<p><b>price:</b> {{pizza.price}}</p>
<p><b>pizza type:</b> {{pizza.pizza_type}}</p>
<p><b>total sold pizzas:</b> {{pizza.total_sold_pizzas}}</p>
<h4>-----------------------</h4>
{% endfor %}
<h3>total sold amount of pizzas :{{total_sold_amount.total_sold_amount}} </h3>
</body>
</html>